# Google OAuth - Lấy Client ID tại: https://console.cloud.google.com/apis/credentials
# Tạo OAuth 2.0 Client ID (Web application) và thêm http://localhost:5173 vào Authorized JavaScript origins
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
